<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>はろー、せかい。</title>
</head>

<body>
  <main>
    <div class="container">
      <h1>はろー、せかい。</h1>
      <p><button type="button" class="btn btn-primary" id="check">確認</button></p>
      <div class="list-group" id="discord-log">
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">ステータス</h5><small>時間</small>
          </div>
          <p class="mb-1">メッセージ</p>
          <small class="text-muted">データ</small>
        </div>
      </div>
    </div>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    socket.emit('last message', '最後のログ');
    socket.on('catch message', function(msg) {
      const html =
        '<div class="list-group-item list-group-item-action">' +
        '<div class="d-flex w-100 justify-content-between">' +
        `<h5 class="mb-1">${msg.status}</h5><small class="text-muted">${msg.date}</small>` +
        '</div>' +
        `<p class="mb-1">${msg.message}</p>` +
        `<small>${msg.data}</small>` +
        '</div>';
      document.getElementById('discord-log').insertAdjacentHTML('afterbegin', html);
    });
    document.getElementById('check').onclick = function() {
      socket.emit('check message', '確認ボタン');
    };
  </script>
</body>

</html>